@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('https://imgur.com/cx0A40H.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
}

.top {
  display: flex;
  justify-content: flex-end;
}

.topRight {
  display: flex;
  justify-content: center;
  width: 33vw;
}

.middleLeft {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.middleRight {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.updatePost {
  display: flex;
  align-self: flex-start;
}

nav {

}

#signUp {
  display: none;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signIn {
  display: none;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showUserPostsBtn {
  display: none;
}

#changePassword {
  display: none;
}

.changePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changePasswordNavBtn {
  display: none;
}

.signOutBtn {
  display: none;
}

.postNavBtn {
  display: none;
}

.updateCar {
  display:  none;
}

.updateCarForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitBtn {
  color: green;
  width: 10vw;
  border-radius: 25px;
  border-color: green;
}

.headerImgInner {
  height: 30vh;
  width: 35vw;
  background-attachment: fixed;
  background-size: 100%;
  border-radius: 25px;
}

.wrapper {
  display: flex;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.contentContainer {
  display: flex;
  overflow: auto;
  height: 50vh;
  width: 50vw;
  opacity: .7;
  border-radius: 25px;
  background-color: white;
  justify-content: center;
  
}

.createCar {
  display: none;
}

.createCarForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showAllBtn {
  display: none;
}

.updateNavBtn {
  display: none;
}

.cars-display {
  display: flex;
  flex-direction: column;
  
}

.deleteBtn {
  color: red;
  width: 10vw;
  border-radius: 25px;
  border-color: red;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}